[2015-10-17 11:07] gaearon opened #1 "Make density configurable"
Like Gmail, we should offer a `density=(comfortable|cozy|compact)` prop that configures margins and paddings. This would solve https://github.com/gaearon/redux-devtools/issues/153.

[2015-10-17 11:12] gaearon opened #2 "Click area for arrows is too small"
As described in https://github.com/gaearon/redux-devtools/issues/73, it's currently easy to miss the expanding arrow. It should have some larger paddings.

[2015-10-22 18:35] jlongster opened #3 "Style gets messed up after a few actions"
I have no idea why this is happening. I'm using redux in the Firefox debugger and I just integrated the latest (3.0.0) redux-devtools, and it looks like this:

<img width="573" alt="0cd98007-ceb8-425a-a306-a6358aaaac07" src="https://cloud.githubusercontent.com/assets/17031/10674612/f8a7bea4-78c9-11e5-93d4-7edf6dbe36a1.png">

I fixed that `undefined` that we were seeing earlier. I'm rendering it li

[2015-10-22 18:35] jlongster commented on #3
This happens if I render it in the same window, too, but the above just makes sure that there are no other styles messing w/it.

[2015-10-22 18:43] gaearon commented on #3
Maybe we could try replacing some Flex styles with box model. Flex styles often have weird layout issues.

[2015-10-22 18:46] jlongster commented on #3
I'm surprised others haven't seen this though, which makes me suspect that something is weird in my env. I also can't even seem to fix it by playing around with the styles in devtools..

Trying to get @dzannotti my state so he can locally load it up and check it out.

[2015-10-22 19:21] dzannotti commented on #3
@gaearon i don't think you are far from what it looks like to me :)
Flex is only used for buttons, but i suspect that a problem in firefox forces subsequent child with no display value to stick to previous display (flex row?), I can't see any other way to obtain this behaviour

[2015-10-22 19:45] jlongster commented on #3
I figured it out.

It was my setup.

It was the demon from hell.

[XUL](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL).

*Even though* I was opening a new window, setting the doctype to `html` and it looked like it was a normal HTML page, somehow it was still inheriting all the bad stuff from XUL. One of them being that elements have `display: -moz-box` by default instead of `display:

[2015-10-22 19:45] #3 closed

[2015-10-22 23:01] gaearon commented on #3
Good old XUL. Yes I remember that from my Firefox Addons days.

[2015-11-05 05:04] globexdesigns opened #8 "Can you please move "styles" into the props"
@gaearon You mentioned in another another issue that the reason you're using inline styles vs. CSS  classes is because you think it's easy enough to clone the LogMonitor to make theming changes.

However, there are two big reasons why cloning the LogMonitor as a theming tool is a pain at the moment:

1) It forks the code. So no new updates to the main LogMonitor code base will be pulled in anymore

[2015-11-05 05:22] globexdesigns opened #9 "Add prop to "startCollapsed""
I care most about "what actions are fired" and very rarely about "what is the current state of my stores". Because of this, it would like a way to specify in the devtools to always start in a fully collapsed view for the root JSONTree node. Like this:

![capture](https://cloud.githubusercontent.com/assets/226640/10960636/20b696b6-833a-11e5-8757-ac1799a6fe43.PNG)

This way I maximize the view on th

[2015-11-05 09:28] gaearon commented on #8
Maybe we can use something like https://github.com/prometheusresearch/react-stylesheet to make them configurable?

[2015-11-05 15:28] globexdesigns commented on #8
Sure that would work, or just use CSSmodules instead https://github.com/css-modules/css-modules

[2015-11-10 23:43] aintnorest opened #12 "redux store.subscribe is firing repeatedly once I use log monitor."
I have a redux store.subscribe that fires the function its past about once a second once I start using the LogMonitor. The project is very tiny with one reducer with 3 actions and only 3 components. I can console all the actions and know I'm not spamming it. Is this normal behavior? It's totally possible I'm blaming the wrong library but this seems to be the point at which the problem is starting.

[2015-12-09 11:00] inakianduaga opened #17 "Performance problem for very large states"
# Context:

I'm in the beginnings of writing a new app, the state/backend is mostly fleshed out, in the frontend I only have a single form input element styled with material design light for trying out state changes.
- Each keystroke I dispatch a state update since I hold customer data there.
- **The state object is currently artifically big (includes a 36kb json)** since I'm holding some mock dat

[2015-12-14 01:56] gaearon commented on #12
This is normal. Is it causing any problems?

[2015-12-14 02:12] mlucool opened #18 "Cannot Copy/Paste"
Hi,

I cannot highlight to copy/paste the data in the devtools default UI. It won't highlight the text on using chrome 47. This is intentional due to: : chibicode/react-json-tree#10

Another very useful feature would be to serialize either the action or the state to JSON and then to the clipboard. A simple export button would be sufficient and an easy, while getting diffs or a whole state would be

[2015-12-14 05:37] aintnorest commented on #12
It seems under performant and I don’t completely understand why the log monitor needs this to function. As I only use the monitor in development and not production it’s not a deal breaker. In truth I just wanted to make sure I wasn’t doing something to cause it unnecessarily. I tried asking in #redux reactiflux discord channel but only received that it must be something I was doing. Thanks for the

[2015-12-14 08:45] gaearon commented on #12
Can you clarify what you mean by "seems underperformant"? Are you seeing a specific performance issues caused by this, or are you making a guess?

[2015-12-21 02:13] tony-kerz commented on #12
i just ran into this as well.

i have a store subscriber, and i put a log message in it, and when i saw it being fired once a second,
i thought i botched something.

eventually, i placed a log message in `store.dispatch()` and realized that in addition to my subscriber, there were an additional 3 subscribers from various libraries (not sure exactly which), so these 4 listeners were being called ev

[2015-12-21 11:38] zalmoxisus commented on #12
Actually, guys, it's easy to fix. Just remove the setInterval and use React's `onScroll` event. So, if it bothers anyone, feel free to contribute :)

[2015-12-26 15:19] zalmoxisus commented on #12
Another issue here is that since we get new props as `{ ... monitorState: { initialScrollTop: ... } }`, rect-pure-render doesn't help (`shallowEqual` cannot compare it) and we have the monitor rerendered every second, which is a huge issue (@aintnorest, I'd suggest to reopen it).

Of course we could find a solution to replace `setInterval` with React's `onScroll` event (not sure whether it works f

[2015-12-26 15:37] gaearon commented on #12
Can you please clarify again what is the issue with re-rendering once a second? Are you having a performance issue, or is it a guess that it might be an issue?

[2015-12-26 17:43] zalmoxisus commented on #12
@gaearon, sorry it was just a guess and I didn't provide any details, I just noticed that `react-pure-render` is useless here.

Just to reassure, I dispatched a thousands of actions, then having the app idle without any actions, it is taking about 30% of CPU, where more than 80% are from `updateScrollTop -> dispatch -> ReactComponent.setState`, even when the monitor is hidden. When it is not idle,

[2015-12-29 15:12] VinSpee opened #22 "Action value overflow issue"
Hi! I noticed a small bug when working on an API that returns a huge hash URL. The monitor overflows horizontally with scroll (expected behavior I presume, but maybe wrapping would be better? It would in this instance but maybe not always), but the background color does not grow with it.

I'd like to cook up a PR for this, and if all goes well, for #1 later. Let me know what you think about overfl

[2016-01-02 01:37] henrybaxter commented on #9
+1 and I like that #16 has action and state separately (I prefer actions open and states collapsed)

[2016-01-06 13:29] jasonslyvia commented on #9
+1 for this feature

[2016-01-11 22:13] chrisnojima commented on #12
Hi, I ran into this problem as well. I was trying to debug why my component was updating (due to the store being updated since this action fires). It might be nice if the flag to control this was inspected to decide if the timer should fire or not (vs it just ignoring it in the reducer)

[2016-01-12 08:18] zalmoxisus commented on #12
@chrisnojima, we have such flag, just set `preserveScrollTop` to `false`. As indicated [here](https://github.com/gaearon/redux-devtools-log-monitor#props).

I'd suggest to have the `false` value by default to avoid confusion. When setting this to `true`, one should expect some performance issues.

[2016-01-12 14:32] chrisnojima commented on #12
The issue is that flag is only acted on by the reducer. I'm using the dockMonitor with the LogMonitor inside of it (like all the examples) The timer is determined by mount/dismount but the dockMonitor (even when hidden) never unmounts since it just makes its dimensions 0. So if i have preserveScrollTop = false and even the entire thing hidden , it still fires the event every second

[2016-01-12 17:06] zalmoxisus commented on #12
Did you use it like that?

[code]

[2016-01-12 18:06] chrisnojima commented on #12
I'm actually also using the hiding flag
[code]

Even with this setup it'll fire the action every second. You'll see no dock monitor, but its visibility is just off, its still mounted / in the dom

[2016-01-13 01:37] gaearon commented on #12
In v1.0.2, specifying `preserveScrollTop={false}` will make sure actions are not fired.

[2016-01-13 01:37] #12 closed

[2016-01-13 01:38] gaearon commented on #9
Since v1.0.2, it is possible by specifying `expandStateRoot={false}` as a prop.

[2016-01-13 01:38] #9 closed

[2016-01-13 15:06] jasonHzq opened #26 "@@redux-devtools-log-monitor/UPDATE_SCROLL_TOP"
devTool endlessly dispath action of type: @@redux-devtools-log-monitor/UPDATE_SCROLL_TOP

[2016-01-13 15:11] #26 closed

[2016-01-15 23:03] danny-andrews opened #27 "Getting "Error selecting state." when using custom selector"
When I try to use a custom state selector, I get "Error selecting state." printed under `@@INIT` action. It appears state is null during this action, because I can't even select a top level property, e.g. `state => state.propA`. Is this by design?

[2016-01-15 23:31] gaearon commented on #22
PR would be most welcome.

[2016-01-15 23:31] gaearon commented on #27
Hmm, good catch. Maybe we shouldn't call `selectState` when root state is undefined? I'd be happy to accept a PR for this.

[2016-01-15 23:32] danny-andrews commented on #27
Great, on it!

[2016-01-19 12:32] Mistereo opened #30 "Sort state keys alphabetically"
Can we add ability to show state keys in alphabetical order?

[2016-01-19 13:15] rockingskier commented on #30
Sounds like a feature for [`react-json-tree`](https://github.com/chibicode/react-json-tree) rather than `redux-devtools-log-monitor`

[2016-02-03 12:10] #27 closed

[2016-02-03 12:13] gaearon commented on #27
Fixed in 1.0.4, thank you for reporting and working on this.

[2016-02-03 17:15] fingermark opened #33 "What's going on with this timeline?"
I notice a big performance hit when I have DevTools enabled w/ LogMonitor.

I'm no good at understanding these Chrome timelines, but what's going on here (this is from the Heavy bottom up view, where this anonymous function is at the top)?

![screen shot 2016-02-03 at 12 12 34 pm](https://cloud.githubusercontent.com/assets/984414/12790325/c3501970-ca6f-11e5-9581-2a16e4e74755.png)

Using 1.0.4

[2016-02-03 17:27] #33 closed

[2016-02-03 22:08] echenley commented on #17
It would be nice to be able to auto-commit actions after a certain point. In the meantime you can check out https://github.com/zalmoxisus/redux-devtools-filter-actions/

[2016-02-03 22:14] gaearon commented on #17
This is a good feature request for the main Redux DevTools repo. I’d imagine an optional argument: `DevTools.instrument({ maxActions: 30 })`. This would be implemented in `instrument.js` and covered by tests. Would you like to try?

[2016-02-04 05:36] echenley commented on #17
@gaearon Sounds good! I'll take a look at it tomorrow.

[2016-02-16 18:02] paulxtiseo opened #34 "React-Native Transform Error - Preset "es2015-loose""
I have a new React native project. I am using `react-native@0.19.0`, `react-redux@4.4.0`, `redux@3.3.1`, `redux-devtools@3.1.1` and `redux-devtools-log-monitor@1.0.4`. Everything compiled fine when calling `react-native run-ios` until I added this `redux-devtools-log-monitor` library. Now, I get the following error in Packager:

[code]

Any suggestions?

PS: `<path>` in the error above is obviousl

[2016-02-16 18:09] paulxtiseo commented on #34
Uninstalling `npm uninstall redux-devtools-log-monitor@1.0.4` leads to a new error:

[code]

[2016-02-16 18:12] zalmoxisus commented on #34
How do you expect to use `redux-devtools-log-monitor` on React Native since it renders a HTML?

You should use [`remote-redux-devtools`](https://github.com/zalmoxisus/remote-redux-devtools).

[2016-02-16 18:19] paulxtiseo commented on #34
Ok, that's embarrassing! :) Someone recommended it and I just started looking without RTFM. My bad.

I'll uninstall and look at your suggested library...

[2016-02-16 18:21] zalmoxisus commented on #34
Anyway, I guess we should exclude `.babelrc` from the npm package or better use `files` attribute in `package.json`.

[2016-02-16 19:40] gaearon commented on #34
Will merge a PR doing this (src + lib).

[2016-02-17 08:03] zalmoxisus commented on #34
@gaearon, done in #35. BTW, I like the idea of including also the `src` folder in order to investigate the package. Will do this for my projects as well.

[2016-02-17 19:45] #34 closed

[2016-02-28 00:55] dmnd opened #37 "expand action payload by default"
When using [flux standard actions](https://github.com/acdlite/flux-standard-action) I have to click the `payload` property to see the contents of the action. I guess I could stop using FSA, but another option could be for LogMonitor to expand the payload by default.

[2016-02-28 18:45] jaulz opened #38 "Invariant Violation"
Unfortunately I get the following error after dispatching an action that did not manipulate the store at all and I could not find the reason what could have cause this error in general. Does anyone else have this error before as well and could give me a hint what's wrong here?

Thanks!

[code]

[2016-02-28 19:13] jaulz commented on #38
Passed an object as an action... simple as that :-)

[code]

[2016-02-28 19:13] #38 closed

[2016-03-01 17:13] larrydahooster opened #39 "LogMonitorEntry does not show 'state' and 'action' anymore but only 'root'"
With the upgrade from v1.0.2 to v1.0.3 the react-json-tree module was changed from ^v0.3.0 to ^v0.5.1.
But v0.5.6 somehow causes a problem, as the [keyName](https://github.com/gaearon/redux-devtools-log-monitor/blob/master/src/LogMonitorEntry.js#L43) property somehow does no longer work and the state tree does no longer get rendered as expected.

![bildschirmfoto 2016-03-01 um 17 11 48](https://cl

[2016-03-01 17:57] gaearon commented on #39
I locked `react-json-tree` at `0.5.5` until this is resolved.

[2016-03-01 17:57] #39 closed

[2016-03-09 13:15] pke commented on #37
:+1: Or does the log monitor support transformations like redux-logger? Then the FSA actions could be flattened.

[2016-03-09 13:18] pke opened #40 "payload.error not displayed"
`redux-logger` does display the action correct as you can see on this screenshot.

![image](https://cloud.githubusercontent.com/assets/164625/13636342/c37abbaa-e601-11e5-8da4-36ef1f8aa681.png)

[2016-03-09 15:45] pke commented on #2
I think that comes from `react-json-tree` ?

[2016-03-09 17:09] pke opened #41 "Could we make redux-logger and this tool more working together?"
I am thinking of a `log4j` approach where appenders are what monitors are here. Then you have a root logger (`redux-logger`) and appenders use that. Everything the root logger has filtered or transformed is visible to the appenders. That way you'd have a single source of truth.

My redux-logger is configured as follow:

[code]

And it would be nice of log-monitor would use this config too.

[2016-03-10 18:59] josvos opened #42 "Webpack with Babel 6 causes errors because of .babelrc files"
Using webpack (with babel-loader) causes errors like "Using removed Babel 5 option".  Removing or renaming all (5) .babelrc files in the node_modules/redux-devtools-log-monitor tree solves this problem.

[2016-03-10 19:04] zalmoxisus commented on #42
See the [solution](https://github.com/gaearon/redux-devtools/issues/259#issuecomment-194943953). Also, if for some reason, you need babel to process `node_modules`, better to create PRs to those dependencies as [we did here](https://github.com/gaearon/redux-devtools-log-monitor/pull/35).

[2016-03-14 18:39] kevana commented on #40
Seeing the same issue:

<img width="205" alt="screen shot 2016-03-14 at 12 35 40 pm" src="https://cloud.githubusercontent.com/assets/981551/13753569/76ddc9c0-e9e1-11e5-9550-4733624d4ecf.png">
<img width="234" alt="screen shot 2016-03-14 at 12 36 13 pm" src="https://cloud.githubusercontent.com/assets/981551/13753576/7929097e-e9e1-11e5-85fa-5e7def223bf2.png">

But I think this error is down in `reac

[2016-03-29 17:58] SimenB opened #43 "Upgrade react-json-tree"
In particular I'm interested in chibicode/react-json-tree#38 (released as `0.6.3`)

[2016-03-29 21:23] sunyang713 opened #44 "Server Side Rendering - React Invalid Checksum"
Hi, so the server renders `cursor:text;`, but the client renders `cursor:pointer;`. I think I've traced the responsible line to [this location](https://github.com/gaearon/redux-devtools-log-monitor/blob/master/src/LogMonitorButton.js#L81)

I went in and manually poked around to try and test different solutions, it looks like the if-enabled conditional is the section that causes the difference betw

[2016-04-02 18:41] gaearon commented on #43
I tried updating it but so far I can’t get arrows to display with good margins:

<img width="147" alt="screen shot 2016-04-02 at 19 41 07" src="https://cloud.githubusercontent.com/assets/810438/14228380/e2adb4ca-f90a-11e5-8b13-f23056098f35.png">

Not sure why this is broken.

[2016-04-02 18:42] gaearon commented on #40
Please track this in https://github.com/chibicode/react-json-tree/issues/22. If this is fixed upstream, it will work here too.

[2016-04-02 18:42] #40 closed

[2016-04-02 18:43] gaearon commented on #42
Recent versions of `redux-devtools-log-monitor` [do not include `.babelrc` in npm package](https://github.com/gaearon/redux-devtools-log-monitor/blob/00379fa62248b11f05a8160b5f6fd04047ee203b/package.json#L6-L9).

[2016-04-02 18:43] #42 closed

[2016-04-02 18:48] gaearon commented on #42
Also you definitely shouldn’t be transpiling third-party modules with Babel. All kinds of stuff can break

[2016-04-02 18:49] gaearon commented on #44
I think it might be worth rendering DevTools on the client only, as indeed some action don’t make sense on the client, and they won’t always match.

[2016-04-02 18:49] #44 closed

[2016-04-02 18:51] gaearon commented on #41
If you can make a proof of concept we can definitely discuss it! Unfortunately I don’t currently have the time to work on something like this, but feel free to explore it. I’m closing as non-actionable for me.

[2016-04-02 18:51] #41 closed

[2016-04-02 18:51] gaearon commented on #30
Yes, please lobby `react-json-tree` to support this if you’re interested. That said I think there are advantages to representing the objects the same way Chrome DevTools represent them: by definition order.

[2016-04-02 18:51] #30 closed

[2016-04-02 18:52] gaearon commented on #22
Ping @VinSpee. Any interest in creating a PR? Thanks.

[2016-04-02 18:55] gaearon commented on #37
You can track https://github.com/chibicode/react-json-tree/pull/31. When/if it’s merged, feel free to send a PR that uses it to implement something like what you describe here.

[2016-04-02 18:58] gaearon commented on #2
Yep. Let’s track it there instead.

[2016-04-02 18:58] #2 closed

[2016-04-02 18:58] gaearon commented on #17
`maxAge` option is now available in Redux DevTools 3.2.0.

[2016-04-02 18:58] #17 closed

[2016-04-02 18:59] gaearon commented on #18
I agree those would be useful, but I don’t currently have time to implement them. If you feel like doing it without making UI too noisy, please go for it! But I’ll close as this is not actionable for me in the observable future.

[2016-04-02 18:59] #18 closed

[2016-04-02 19:01] gaearon commented on #8
The reason I don’t want to do this is this makes every internal style change a breaking change. Since we follow semver, we don’t want to break people all the time, or to increment majors on every version.

[2016-04-02 19:01] #8 closed

[2016-04-02 19:04] gaearon opened #45 "Optimize performance!"
This project is *ripe* for performance optimizations. I think we can get 10x better performance if somebody just spends a day with `ReactPerf` and finds where all the wasted renders are coming from, and optimizes allocations from inline styles that almost never change. Any volunteers?

Guide to optimizing React performance: benchling.engineering/deep-dive-react-perf-debugging/

[2016-04-02 19:04] VinSpee commented on #22
Hey sorry - upon further investigation it appears like the issue is in [react-json-tree](https://github.com/chibicode/react-json-tree).

I moved the issue there chibicode/react-json-tree#42

I'll let you decide if you want to keep this open until it's resolved there and bumped here or close

[2016-04-02 19:07] gaearon commented on #22
:+1: Let’s keep it there then, please reopen if it’s not fixable there.

[2016-04-02 19:07] #22 closed

[2016-04-02 19:40] gaearon commented on #45
Note: many optimizations can probably done right in https://github.com/chibicode/react-json-tree although components in this project should also have optimizable parts.

[2016-04-02 20:34] gaearon commented on #43
Should be out now.

[2016-04-02 20:34] #43 closed

[2016-04-02 21:19] SimenB commented on #43
Sweet, thanks!

[2016-04-03 03:05] andrewcoelho commented on #45
Hey Dan, I'll spend the day on this tomorrow. I've used these tools a ton and would really like to give back. I can't promise a pull request but I'll give it my best shot.

[2016-04-03 03:55] sergesemashko commented on #45
Hey Dan, I'm willing to spend a day on this tomorrow too. @andrewcoelho, let me know if you find anything that we could split.

[2016-04-03 03:58] andrewcoelho commented on #45
@sergesemashko, I'm on a phone now so I haven't gotten a chance to look at the source, I'll ping you tomorrow if I come across anything.

[2016-04-03 13:39] sotayamashita commented on #45
@andrewcoelho @sergesemashko I am also just beginning to do it but I'll take much time because it hard to make sufficient time to do it.

[2016-04-03 15:33] lindskogen commented on #45
I guess this just comes around to me being a noob at npm, but what would be the best way to set up the development environment for this? Creating a project, then importing this as a dependency (local or from npm) will use the compiled files and I would need to run `npm build` every time I changed something.

[2016-04-03 15:38] sergesemashko commented on #45
@lindskogen, I would suggest to look into ready to use boilerplates or projects with redux-devtools setup for a quick start. (e.g. https://github.com/erikras/react-redux-universal-hot-example/)

[2016-04-03 15:42] Mistereo commented on #45
@lindskogen, not sure that this is a best option but you can start babel in watch mode:
[code]

[2016-04-03 16:12] lindskogen commented on #45
@sergesemashko that is not for development, though?

[2016-04-03 18:42] sergesemashko commented on #45
@lindskogen, there should be a redux application context where you can play with `redux-devtools-log-monitor` and test its performance. For example, you can take any boilerplate with `redux-devtools-log-monitor` and execute 300+ actions, and after that you can notice slowness in sidebar panel on state changes.

Not sure if it's the best approach, but to debug `redux-devtools-log-monitor` and check

[2016-04-03 21:07] phamcharles commented on #45
@sergesemashko, in #46 (if approved), will allow you to export the 300+ actions and import them after you made performance changes to the internal. That way you can test against the same dataset every time. This 300+ actions would also be beneficial to stress testing the importing/exporting functionality.

[2016-04-04 05:10] sunyang713 commented on #44
hey, cool thanks for the suggestion. I think that's a good solution, render the Devtools in a different mount-node in development, so it's only rendered client-side and won't interfere with SSR.

[code]

[2016-04-05 12:41] sotayamashita commented on #45
@lindskogen If are still looking for the way to debug, I just add devtool to redux example. Here is forked repo. https://github.com/sotayamashita/redux/tree/debug/redux-devtools-log-monitor

[2016-04-17 00:25] gaearon commented on #37
This is now available so please feel free to send a PR that exposes that prop in some sensible way here.

[2016-04-17 16:44] alexkuz commented on #40
Should be fixed in `v0.6.7`

[2016-09-06 13:42] dahjelle commented on #30
Looks like [`react-json-tree` has added the option to sort by keys](https://github.com/alexkuz/react-json-tree/issues/37). My naïve question, then: is that feature already exposed some way by log-monitor (and especially in the DevTools Chrome extension)?

[2016-09-12 00:18] m2mathew opened #58 "Action & State always expanded"
We are implementing the fantastic Redux-Dev-Tools in our app. It promises to help us understand things much better.

I think we have this set up correctly to collapse the action and state in the `LogMonitor`. Our state tree is rather large with 158 keys...having it expanded and toggling dialogs and having request/success httpPuts, etc. is makes having the state expanded hard to deal with.

Here is

[2016-09-14 03:05] m2mathew commented on #58
I have spent a little more time looking into this without much success. The `src` code for this all looks like the `expandActionRoot` and `expandStateRoot` props are passing down as I would expect.

The only thing I notice is that the package.json for this repo has this package installed
`"react-json-tree": "^0.7.0"`

but my local project has this package installed
`"react-json-tree": "^0.6.6"`

W

[2016-09-14 08:22] zalmoxisus commented on #58
The different version of `react-json-tree` shouldn't be an issue. It is not published because of [some optimizations concerns there](https://github.com/gaearon/redux-devtools-log-monitor/pull/54#discussion_r63805314).

`expandActionRoot/expandStateRoot` props was [introduced in the earlier versions](https://github.com/gaearon/redux-devtools-log-monitor/pull/16). However, in the older versions of `

[2016-09-14 14:44] m2mathew commented on #58
@zalmoxisus The issue is with `react-json-tree` package being outdated. I will make a PR to address this. Thanks!

[2016-10-10 09:31] josiahsprague opened #60 "Needs a feature to copy/paste or download the current state object"
I've had a few situations where it would be really convenient for me to get a copy of just the current state object either saved to a pretty-printed JSON file or copied to the clipboard. The existing download button is similar, but since it downloads actions and computed state, I have to shave a few more yaks to get a clean copy of the state object.

The current best solution I have is to use reac

[2016-10-10 11:26] zalmoxisus commented on #60
I would suggest to implement this in `react-json-tree`, so it will work without any changes in this repo and also for other redux devtools monitors. It would be great to have a context menu to Export as a file and Copy the current state subtree. So, it will be possible to copy not only the whole state object but also a state's subtree and the action's payload.

[2016-10-10 12:32] josiahsprague commented on #60
My intuition says a solution involving text selection might not be the right solution here. Consider this screenshot;

![screen shot 2016-10-10 at 4 16 26 pm](https://cloud.githubusercontent.com/assets/516388/19235806/00cff540-8f05-11e6-807f-8f9c22451d83.png)

A bunch of rhetorical questions; Where does the selection begin and end? Why are some keys not selected/selectable? What should happen with

[2016-10-10 13:55] zalmoxisus commented on #60
Well, the screenshot isn't related to the current repo, it's from [`redux-devtools-inspector`](https://github.com/alexkuz/redux-devtools-inspector). For `redux-devtools-log-monitor` it looks like this:
<img width="778" alt="screen shot 2016-10-10 at 4 48 31 pm" src="https://cloud.githubusercontent.com/assets/7957859/19238291/8c8513dc-8f09-11e6-9e09-b54693049ef0.png">

So, when you right click on `

[2016-10-10 14:09] zalmoxisus commented on #60
If we get this context menu with the corresponding part of the object, it will be possible even to implement inline editing as suggested in https://github.com/zalmoxisus/remote-redux-devtools/issues/32. Or make this part of the object available in the console as per https://github.com/zalmoxisus/redux-devtools-extension/issues/132.

Though, for most use cases a button as you suggested could be eno

[2016-10-20 15:00] zalmoxisus commented on #58
Fixed in `v1.1.0`. Now by default everything is collapsed ([see the release notes](https://github.com/gaearon/redux-devtools-log-monitor/releases/tag/v1.1.0)).

[2016-10-20 15:00] #58 closed

[2016-12-08 20:38] StevenACoffman commented on #60
joshwcomeau/redux-vcr/issues/1 records the series of Redux actions and would like to share functionality with redux-devtools. Might be relevant.

[2017-03-06 19:59] danny-andrews opened #63 "Breaks with babel 6"
I get the following errors when trying to use this library with babel 6:
[code]

[2017-03-06 20:13] danny-andrews commented on #63
I wasn't excluding `node_modules` in my `package.json`. :D

[2017-03-06 20:13] #63 closed

[2017-04-10 10:16] dizel3d opened #64 "Warning: Accessing PropTypes via the main React package is deprecated."
Since react@15.5.0 a warning is printed:
[code]

[2017-04-18 12:11] mnemanja commented on #64
Please remove the PropTypes dependency from the library.

[2017-04-18 12:12] troygoode commented on #64
No, the correct solution is to point PropTypes to http://npmjs.com/package/prop-types rather than `React.PropTypes`.

[2017-04-18 12:17] mnemanja commented on #64
Yes, that is the way it should be fixed but for me, it's only important that the "bug" is fixed.

[2017-04-21 11:35] denis-sokolov commented on #30
@gaearon, @Mistereo, could we please reopen this? Navigating a big state tree is more inconvenient than it has to be. Imagine a phonebook sorted by the contract signing date instead of by name.

In my unsubstantiated opinion, a vast majority of Redux users use the state tree as an unordered map. All those users would prefer a sorted tree that optimizes the search for a key.

[2017-06-13 19:11] diasbruno opened #66 "Some objects cannot be displayed on log monitor."
Hi,

Some custom types cannot be serialised and displayed on log monitor.

The example uses a library that creates custom types [origamitower/folktale](https://github.com/origamitower/folktale) and if those types are used on redux, their content are not shown on log monitor.

![screen shot 2017-06-13 at 16 10 40](https://user-images.githubusercontent.com/362368/27099951-e6d9813c-5052-11e7-85cd-d0a

[2017-06-15 00:26] penmanglewood opened #67 "React peer dependency version inconsistency"
This package's peer dependency with React is `"^0.14.9 || ^15.3.0"`, but the dependency `react-json-tree`'s [peer dependency with React](https://github.com/alexkuz/react-json-tree/blob/master/package.json#L64) is `"^15.0.0"`.

I have a React app that's still on 0.14.9, and I have a host of problems with this setup, including shrinkwrap will refuse to run because my React version doesn't meet `reac

[2017-09-28 11:19] GuillaumeCisco opened #69 "React 16"
Hey there.
Does this tool work with react 16?
I have issues like :

[code]

[2017-09-28 12:03] GuillaumeCisco commented on #69
Ok just found the problem.
It is due to the dependency react-json-tree.
I will make a PR. The issue is here : https://github.com/alexkuz/react-json-tree/blob/master/src/JSONNestedNode.js#L169

[2017-09-28 12:13] GuillaumeCisco commented on #69
Just found an issue on the react-json-tree repo : https://github.com/alexkuz/react-json-tree/issues/94
Added the PR too.
Hope it will be deployed fast.
Cheers

[2017-10-12 21:30] gasi commented on #30
Agreed, could we please reopen this? It’s very difficult scanning large state trees if the keys are not sorted alphabetically, literally `O(n)` instead of `O(log n)` (binary search) 😉

[2017-10-28 12:37] jadir-junior commented on #69
this issue was solve? I have the same problem!

[2017-10-28 13:11] GuillaumeCisco commented on #69
Nope, it was one month ago.
No hope, please upvote the issue on react json tree

[2017-10-30 09:01] GuillaumeCisco commented on #69
Just created a PR for updateing redux-devtools-log-monitor : https://github.com/gaearon/redux-devtools-log-monitor/pull/71

[2017-10-30 10:56] abuelwafa commented on #69
@GuillaumeCisco I had created the same PR #70 few hours before you. hopefully anyone of them gets merged and released soon.

[2017-10-30 11:14] GuillaumeCisco commented on #69
Thanks @abuelwafa, sorry I did not see it. My bad

[2017-11-03 14:57] joyfulelement commented on #69
Had the same issue with the recent upgrad to react 16. If anyone needs this fix _now_ before https://github.com/gaearon/redux-devtools-log-monitor/pull/70 is merged, there is a temporary workaround for this.

## Workaround with version `1.3.0`
While waiting for `redux-devtools-log-monitor` library to upgrade its `react-json-tree` dependency to `0.11.0` (https://github.com/gaearon/redux-devtools-lo

[2017-11-10 14:25] GuillaumeCisco commented on #69
Sorry to highlight you @gaearon, I know you have a lot of stuff to do.
But is this possible to merge thix fix and deploy to npm asap?

Thank you very much

[2017-11-11 18:53] #69 closed

[2017-11-11 19:07] zalmoxisus commented on #69
Sorry for the delay, guys. I published it as `redux-devtools-log-monitor@1.4.0`.  Also make sure to update `redux-devtools` to `3.4.1` to have React 16 as a peer dependency.

[2017-11-11 19:08] zalmoxisus commented on #67
You're right. Changed in `redux-devtools-log-monitor@1.4.0`.

[2017-11-11 19:08] #67 closed

[2017-11-12 16:35] brandondurham commented on #30
I, too, have a huge state tree to navigate, and it‘s painful.

[2017-11-14 16:50] DmacVeem commented on #30
This would be extremely helpful. Trying to find the key in an enormous state can be difficult.

[2017-11-15 02:37] gasi commented on #30
@brandondurham @DmacVeem In case it helps, I worked around the issue by initializing my Redux store using keys in alphabetical order, e.g.

[code]

JavaScript for some reason enumerates keys in insertion order so initializing like this will present the tree with alphabetically sorted keys. Hope this helps 😄

[2017-12-12 17:47] hugotox commented on #30
+1

[2018-01-19 08:28] xpol opened #72 "Should be import debounce from 'lodash/debounce';"
The file line: https://github.com/gaearon/redux-devtools-log-monitor/blob/master/src/LogMonitor.js#L10

[code]

Should be:

[code]

So that not load the whole lodash library.

(Because I want logger be included in production mode with a switch to turn on or off)

[2018-04-03 22:23] oshikryu opened #73 "Warning: Expected `onClick` listener to be a function, instead got `false`."
In using the `<LogMonitor />` component, I am getting warnings about a prop used in the module.

[code]

Here is my usage:
[code]

my module versions:
[code]

How do I fix this behavior? It is making the console very noisy

[2018-06-04 15:46] Startouf commented on #60
Thank you very much for the `JSON.stringify($r.store.getState())` trick, previously I was copy-pasting from the `raw` tab, but it wasn't JSON and actually pretty tricky to convert to proper JSON

We would just need a "Copy as JSON" button in the State > raw tab.

[2018-06-11 19:01] hugotox commented on #30
does anybody know a workaround or fork to get this sorted?

[2018-12-20 07:19] rajendraarora16 commented on #73
Same here, does anyone resolved this issue?

[2018-12-20 19:02] zalmoxisus commented on #73
Can someone share an example on jsfiddle or codesandbox, or edit [our examples](https://github.com/reduxjs/redux-devtools/tree/master/packages/redux-devtools/examples) to reproduce it? It should be fixed in last version as per https://github.com/alexkuz/react-json-tree/pull/97

[2018-12-21 19:26] zalmoxisus commented on #66
That PR was merged and available now. Sorry about the delay!

[2018-12-21 19:30] #37 closed

[2019-05-09 19:57] arunmmanoharan commented on #30
`export default combineReducers(
	Object.fromEntries(
		Object.entries({
			//Your reducers here and this should be fixed
		}).sort()
	)
);`

[2019-12-18 09:44] koalex opened #74 "React v16 warning"
In react v16.12 has warning:
`Warning: componentWillReceiveProps has been renamed, and is not recommended for use.` ...
`Rename componentWillReceiveProps to UNSAFE_componentWillReceiveProps to suppress this warning in non-strict mode. In React 17.x, only the UNSAFE_ name will work.` ...
`Please update the following components: Dock, JSONNestedNode, JSONTree, LogMonitor`

[2020-04-05 23:08] JimbobTheSailor commented on #30
@a2441918 Can you please elaborate on your above solution? Where does this code go? Does it work when modules are lazy loaded?

[2020-04-05 23:10] arunmmanoharan commented on #30
I havent tried lazy load, but it should as the sorting is done only on the rootReducer level. One catch is that you can only sort the main parent keys, but not the child keys.

[2020-04-06 03:40] JimbobTheSailor commented on #30
@a2441918 . Thanks for quick response. Can you elaborate on where your code is inserted into the project?

[2020-04-06 13:53] arunmmanoharan commented on #30
In the main rootReducer.

	export default history =>
		combineReducers(
			Object.fromEntries(
				Object.entries({
					router: connectRouter(history),
					...otherReducers
				}).sort()
			)
		);

[2020-04-22 20:47] RobertHeim commented on #30
here is another implementation that only sorts in development environment and does not require you to change any of your own code and is easy to remove once v3 is out:

[code]

[2020-10-22 13:27] GuillaumeCisco commented on #74
Still nothing about that?

[2022-07-21 18:04] tnrich commented on #60
Kind of a late response.. the devtools are definitely still lacking this seemingly very important and useful feature. In the meantime I'd recommend popping the redux store onto the window itself and then doing the following:

[code]

Then it's as easy as finding the object you're interested in and right clicking to copy it:

<img width="812" alt="image" src="https://user-images.githubusercontent.c

[2022-11-14 10:40] leixd1994 commented on #60
I found the React DevTool have this function of copy props or state to JSON.  see pictures below:

![image](https://user-images.githubusercontent.com/23328517/201627214-b286e212-5780-4470-82c5-ebcbcd2bbc5e.png)
 then go to console  ,you will find this
![image](https://user-images.githubusercontent.com/23328517/201627453-b8daad10-2faa-45fc-a3c7-7df33d6f80e8.png)

then you can copy to JSON by right